<div class="testimonials">
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1">
            <div class="owl-carousel"
                 data-owl-nav="0"
                 data-owl-dots="1"
                 data-owl-autoplay="@(ViewBag.model.Autoplay ?1:0)">
                @foreach (var i in ViewBag.model.BlockItem) {
                    <blockquote>
                        <p>@i.Title</p>
                        <footer>
                            @i.Name
                            <figure>@i.Description</figure>
                        </footer>
                    </blockquote>
                }
            </div>
        </div>
    </div>
</div>
