@{
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<div class="block-header">
    <div class="row remove-margin">
        <div class="col-md-10">
            <div class="header-section">
                <h1>
                    Bloklar<br />
                    <small>Burada bölüme içerik eklenir</small>
                </h1>
            </div>
        </div>
        <div class="col-md-2">

            @*<a href="~/admin/block/add/@ViewBag.sectionID" class="header-link">
                <h1 class="animation-pullDown">
                    <i class="fa fa-plus animation-expandUp"></i><br><small>Ekle</small>
                </h1>
            </a>*@

            <a href="javascript:void(0)" data-toggle="dropdown" class="header-link dropdown-toggle" aria-expanded="true">
                <h1 class="animation-pullDown">
                    <i class="fa fa-plus animation-expandUp"></i><br><small>Ekle</small>
                </h1>
            </a>
            <ul class="dropdown-menu text-left">
                @foreach (var i in ViewBag.types) {
                    <li><a href="~/admin/@i/add/@ViewBag.sectionID">@i</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tipi</th>
            <th>Genişlik</th>
            <th class="text-center" style="width:360px">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in ViewBag.model) {
            var type = (string)i.GetType().BaseType.Name;
            <tr>
                <td>@type</td>
                <td>@i.Width</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i class="fa fa-cog"></i></a>
                        <ul class="dropdown-menu text-left">
                            <li><a href="~/admin/@type/edit/@i.ID"><i class="fa fa-pencil fa-fw"></i> Düzenle</a></li>
                            @if (File.Exists(Request.MapPath("~/Views/" + type + "/Menu.cshtml"))) {
                                @Html.Partial("~/Views/" + type + "/Menu.cshtml", (int)i.ID)
                            }
                            <li><a href="~/admin/block/up/@i.ID"><i class="fa fa-chevron-up fa-fw"></i> Yukarı</a></li>
                            <li><a href="~/admin/block/down/@i.ID"><i class="fa fa-chevron-down fa-fw"></i> Aşağı</a></li>
                            <li><a href="~/admin/block/delete/@i.ID" onclick="return confirm('Kaydı silmek istediğinize emin misiniz?')"><i class="fa fa-times fa-fw"></i> Sil</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
