@{
    Layout = "~/Views/Admin/_Layout.cshtml";
    ViewBag.Title = "Anasayfa";
}

<div class="block-header">
    <div class="header-section">
        <h1>
            @ViewBag.Title<br />
            <small></small>
        </h1>
    </div>
</div>

<!-- END Blank Header -->
<!-- Blank Content -->
<p>Create your content..</p>
<!-- END Blank Content -->