<form id="form-contact-agent" method="post" class="clearfix">
    
    @foreach (var i in ViewBag.model.BlockItem) {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @if (i.Type == "text") {
                        <input type="email" class="form-control" id="field-@i.ID" name="field-@i.ID" placeholder="@i.Title" @(i.Required?"required":"")>
                    }
                    else {
                        <textarea class="form-control" id="field-@i.ID" rows="6" name="field-@i.ID" placeholder="@i.Title" @(i.Required?"required":"")></textarea>
                    }
                </div>
            </div>
        </div>
    }
   
    <div class="form-group clearfix">
        <button type="submit" class="btn pull-right btn-primary btn-rounded" id="form-contact-agent-submit">Gönder</button>
    </div>

</form>