<div class="gallery">
    <div class="row">
        @foreach (var i in ViewBag.model.BlockItem) {
            var col = (int)Math.Floor((float)12 / ViewBag.model.Columns);
            <div class="col-md-@col col-sm-@col">
                <a href="~/Content/uploads/@i.Image" class="gallery-item image-popup" title="@i.Title">
                    <div class="image bg-transfer" style="background-image: url('@(Util.thumbnailLink(i.Image, 360, 220))');">
                        @Util.thumbnail(i.Image, 360, 220)
                    </div>
                </a>
            </div>
        }
    </div>
</div>