<a href="@ViewBag.model.URL" class="video-player hover-effect">
    <span>
        <div class="hover-element">
            <i class="play-icon arrow_triangle-right"></i>
            <div class="has-overlay">
                <img src="~/content/upload/@ViewBag.model.Thumbnail" alt="">
            </div>
        </div>
        <div class="hover-element">
            <i class="play-icon arrow_triangle-right"></i>
            <div class="has-overlay">
                <img src="~/content/admin/img/image-video.jpg" alt="">
            </div>
        </div>
    </span>
</a>